*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url("images/gym_blue.JPG");
    background-size: cover;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

nav ul li a:hover{
    color: #ff5ea2;
}

.row{
    background-color: blue;
    max-width: 50%;
    background: linear-gradient(to right, lightblue, blue);
    padding: 10px;
    border-radius: 6px;
}

.row h2{
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, lightblue, blue);
    cursor: pointer;
    border-radius: 6px;
    transition: width 0.5s;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}